body {
  background-color: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  object-fit: contain;
}

.dummyImages {
  height: 300px;
  width: 300px;
}

.parentShop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aboutConent{
  max-width: 400px;
}
